<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>servlet</display-name>
    <servlet-name>servlet</servlet-name>
    <servlet-class>Web.servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet</servlet-name>
    <url-pattern>/servlet</url-pattern>
  </servlet-mapping>
  <display-name>Projet federateur</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>auth</display-name>
    <servlet-name>auth</servlet-name>
    <servlet-class>Web.auth</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>auth</servlet-name>
    <url-pattern>/auth</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>servlet_ide</display-name>
    <servlet-name>servlet_ide</servlet-name>
    <servlet-class>Web.servlet_ide</servlet-class>
    <multipart-config>
      <location>C:\Users\hp\Desktop\java\tampan</location>
      <max-file-size>10485760</max-file-size>
      <max-request-size>20971520</max-request-size>
      <file-size-threshold>0</file-size-threshold>
    </multipart-config>
  </servlet>
  <servlet-mapping>
    <servlet-name>servlet_ide</servlet-name>
    <url-pattern>/servlet_ide</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>projet</display-name>
    <servlet-name>projet</servlet-name>
    <servlet-class>Web.projet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>projet</servlet-name>
    <url-pattern>/projet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>upload</display-name>
    <servlet-name>upload</servlet-name>
    <servlet-class>Web.upload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>upload</servlet-name>
    <url-pattern>/upload</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>deconne</display-name>
    <servlet-name>deconne</servlet-name>
    <servlet-class>Web.deconne</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deconne</servlet-name>
    <url-pattern>/deconne</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>de</display-name>
    <servlet-name>de</servlet-name>
    <servlet-class>Web.de</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>de</servlet-name>
    <url-pattern>/de</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>p_i_crud</display-name>
    <servlet-name>p_i_crud</servlet-name>
    <servlet-class>Web.p_i_crud</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>p_i_crud</servlet-name>
    <url-pattern>/p_i_crud</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>auth_p_i</display-name>
    <servlet-name>auth_p_i</servlet-name>
    <servlet-class>Web.auth_p_i</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>auth_p_i</servlet-name>
    <url-pattern>/auth_p_i</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>com_servlet</display-name>
    <servlet-name>com_servlet</servlet-name>
    <servlet-class>Web.com_servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>com_servlet</servlet-name>
    <url-pattern>/com_servlet</url-pattern>
  </servlet-mapping>
</web-app>